# Format Style Options - Created with Clang Power Tools
---
AlignAfterOpenBracket: AlwaysBreak
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveDeclarations: Consecutive
AlignConsecutiveMacros: Consecutive
AllowShortCaseLabelsOnASingleLine: true
BasedOnStyle: Microsoft
BraceWrapping: 
  AfterCaseLabel: true
  AfterClass: true
  AfterControlStatement: true
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterObjCDeclaration: false
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: false
  BeforeCatch: false
  BeforeElse: false
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
  BeforeLambdaBody: true
  BeforeWhile: true
BreakBeforeBraces: Allman
ColumnLimit: 180
IndentCaseBlocks: true
IndentCaseLabels: true
PointerAlignment: Left
...
